[Unit]
Description=Docker container monitor
Requires=docker.service
After=docker.service

[Service]
ExecStart=/<PATH HERE>/docker-status.sh
ExecStop=/usr/bin/curl https://<STATUS PAGE HERE>/update_status.php --data "status=destroyed"

[Install]
WantedBy=default.target
